#container {
    width: 95vw;
    height: 80vh;
    background: blue;
    display: grid;
    margin: 0 auto;
   
}

.divBox {
    border: 1px solid black;
    background: white;
}

.hover {
    border:1px solid white;
    background: red;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Black Ops One', 'Roboto';
    text-align: center;
}

button {
    font-family: 'Black Ops One', 'Roboto';
    font-size: larger;
    width: 95vw;
    margin: 0 auto;
}

