#container {
    width: 90vw;
    height: 90vh;
    background: blue;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.divBox {
    border:2px solid black;
    background: beige;
}

