#container {
    width: 90vw;
    height: 90vh;
    background: blue;
    display: grid;
    grid-template-rows:;
    grid-template-columns:;
}

.divBox {
    border:2px solid black;
    background: beige;
}

